*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    color: #630ad8;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 600;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

header{
    /* background-color:#f6f3fa; */
    width: 100%;
    height: 100px;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0px;
    text-align: center;
}

.logo{
    height: auto;
    width: 150px;
    float: left;
    padding-top: 10px;
}

.barra{
    /* float: right; */
    word-spacing: 30px;
    display: inline-block;
}

.barra a{
    text-decoration: none;
}

.barra li{
    list-style: none;
    display: inline-block;
}

.barra a:hover{
    color: #ff3cff;
}

.opciones{
    margin: 10px;
    padding: 22px;
    /* border:#053d4b solid 1px;
    border-radius: 25px; */
}

.opciones a{
    color: #912bff;
    font-size: 25px;
}

.opciones li {
    height: 33px;
}

.barra a{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size 0.6s;
}

.barra a:hover{
    background-size: 100% 3px;
}

.barra .active a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}

.registro{
    float: right;
    margin: 10px;
    padding-top: 28px;
    padding-right: 20px;
    font-size: 15px;
}

.registro li{
    list-style: none;
    display: inline-block;
}

.registro a{
    text-decoration: none;
    color: #912bff;
}

.registro a:hover{
    color: #ff3cff;
}

.fondo1{
    height: 400px;
    width: 100%;
    background-image: url(./img/index.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#footer{
    height: 150px;
    width: 100%;
    background-color: #630ad8;
    color: white !important; 
}
    
#footer section p{
    display: inline-block;
    text-align: left;
    color: #f5f3f9;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 55px;  
}
    
#footer section a{
    text-align: right;
    color: #ffffff;
    font-size: 20px;
    float: right;
    margin-right: 20vh;
    margin-top: 35px;
    text-decoration: none;
    text-align: center;
}

#footer section a:hover {
    color: #aa6cf0;
}

.redes{
    padding-left: 35px;
}

.redes a{ 
    color: rgb(253, 203, 255);
}

.redes a:hover{ 
    color: #ff3cff;
}

.fondo-destino{
    height: 400px;
    width: 100%;
    background-image: url(img/destino.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
.fondo-alojamientos{
        height: 400px;
        width: 100%;
        background-image: url(img/alojamientos.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.fondo-excursiones{
    height: 400px;
    width: 100%;
    background-image: url(img/excursiones.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
.fondo-traslados{
    height: 400px;
    width: 100%;
    background-image: url(img/traslados.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }   

.conenedorCuadrados{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
.cuadrado{
    height: 320px;
    width: 300px;
    border: #bd90f9 solid 1px;
    text-align: center;
    padding-top: 10px;
    transition: all 0.7s;
}

.cuadrado:hover{
    transform: scale(1.08);
    transition: all 0.5s;
}
.cuadradroTitulo{
    color: #630ad8;
}

.cuadradoContenedorFoto{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    background-size: cover;
    border: #c4c2c4 solid 1px;
    box-sizing: content-box;
}

.cuadradoContenedorFoto img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.textoCuadro{
    color: #9c9c9c;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

.botonImg{
    margin: 15px;
}

.botonImg a{
    height: 50px;
    width: auto;
    background-color: #5f1aae;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
}

.botonImg a:hover{
    background-color: #ff3cff;
    transition: all 0.5s;
}


.itemImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px #999999;
    transition: all 1s;
}

.item:hover{
    transform: scale(1.02);
    transition: all 0.9;
}

.contenedor{
    height: 300px;
    width: 80%;
    border: #aa6cf0 solid 1px;
    margin-bottom: 20px;
}

.opcionesAlojamientos{
    height: auto;
    width: 100%;
    margin: 20px;
}

.n-left{
    height: 250px;
    background-image: url(img/alojamientos.jpg);
    background-size: cover;
    margin-bottom: 10px;
}

.tituloNoticias h2{
    text-align: center;
    font-size: 50px;
    color: #912bff;
    margin-top: 5px;
}

.tituloNoticias p{
    text-align: center;
    font-size: 12px;
    color: #912bff;
    margin-bottom: 10px;
}

.contenedorNoticias{
    height: 450px;
    width: 100%;
    background-color: #e8d2ff;
    color: #912bff;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.textoNoticia{
    height: auto;
    width: 100%;
    text-align: center;
}

.noticia{
    width: 20%;
    height: 360px;
    border: #d3b3f7 solid 0.5px;
    margin: 40px;
    padding-top: 20px;
    box-shadow: 1px 3px 3px #858485;
    background-color: #f0e5fb;
    transition: all 1s;
    border-radius: 10px;
}

.noticia:hover{
    transform: scale(1.08);
}

.noticia p{
    text-align: left;
    margin-left: 35px;
    margin-bottom: 25px;
}

.noticia a{
    height: 50px;
    width: 25px;
    background-color: #5f1aae;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-top: 10px;
}

.noticia a:hover {
    animation: 0.5s flash 1;
}

@keyframes flash {
    50% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.contenedorNoticias img{
    height: 100px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: #d7d7d7 2px solid;
    border-radius: 10px;
}

.tituloConocenos{
    height: 200px;
    width: 100%;
    background-color: #f0e5fb;
    color: #912bff;
}

.tituloConocenos h2{
    text-align: left;
    padding-top: 20px;
    margin-left: 10%;
    font-size: 54px;
}

.tituloConocenos p{
    text-align: left;
    padding-top: 20px;
    margin-left: 10%;
    font-size: 16px;
}

.titulos{
    text-align: center;
    font-size: 50px;
    color: #912bff;
    padding: 20px;
}

.tituloTraslados{
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #912bff;
    padding-top: 15px;
}

.jujuysaltaInfo{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.card-deck{
    padding: 20px 10px 20px 20px;
}

.card-deck .card{
    height: auto; 
    width: 100%; 
}

.card{
    animation: 8s veloz 1;
}

@keyframes veloz {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }

    50% {
        opacity: 1;
        transform: translateX(0%);
    }

    80% {
        transform: translateX(0%);
    }
}

@media only screen and (min-width: 320px) and (max-width: 767px){

    header{
        background-color:#f6f3fa;
        width: 100%;
        height: 350px;
    }

    .barra{
        display: inline-block;
        width: 100%;
        justify-content: start;
    }

    .barra li{
        display: flex;
        flex-wrap: wrap;
    }

    .registro{
        display: flex;
        justify-content: start;
        float: left !important;
        margin-left: 5%;
    }

    .tituloNoticias h2{
        font-size: 38px;
        text-align: center;
        margin-top: 10px;
    }

    .tituloNoticias p{
        margin-bottom: 20px;
    }

    .contenedorNoticias{
        height: auto;
        width: 100%;
        padding: 30px;
        background-color: #e8d2ff;
        color: #912bff;
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }
    
    .noticia{
        width: 85%;
        height: 100vh;
        border: #d3b3f7 solid 0.5px;
        margin: 20px;
        box-shadow: 1px 3px 3px #858485;
        background-color: #f0e5fb;
        transition: all 1s;
        border-radius: 10px;
    }

    .noticia h2{
        font-size: 36px;
    }

    .noticia img{
        height: 150px;
        width: 250px;
    }
    
    .textoNoticia{
        height: auto;
        width: 100%;
        text-align: center;
    }

    .tituloConocenos{
        height: auto;
        width: 100%;
        padding-bottom: 10px;
        padding-right: 10px;
    }

    .tituloConocenos h2{
        font-size: 32px;
    }

    #footer section a{
        margin-right: 20px;
        margin-top: 30px;
    }

    #footer{
        height: 200px;
        width: 100%;
    }

    .tituloTraslados{
        height: 160px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #912bff;
        padding-top: 15px;
    }

    .contenedorInfoTraslados{
        height: auto;
        width: 100%;
        padding: 50px 0 50px 0;
        color: #9538ff;
        background-color: #f1e6ff;
        font-size: 16px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px)  {

    header{
        background-color:#f6f3fa;
        width: 100%;
        height: 350px;
    }

    .barra{
        display: inline-block;
        width: 100%;
        justify-content: start;
    }

    .barra li{
        display: flex;
        flex-wrap: wrap;
    }

    .registro{
        display: flex;
        justify-content: start;
        float: left !important;
        margin-left: 5%;
    }

    .tituloNoticias h2{
        font-size: 40px;
    }

    .contenedorNoticias{
        height: auto;
        width: 100%;
        padding: 30px;
        background-color: #e8d2ff;
        color: #912bff;
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }
    
    .noticia{
        width: 40%;
        height: 360px;
        border: #d3b3f7 solid 0.5px;
        margin: 20px;
        box-shadow: 1px 3px 3px #858485;
        background-color: #f0e5fb;
        transition: all 1s;
        border-radius: 10px;
    }

    .textoNoticia{
        height: auto;
        width: 100%;
        text-align: center;
    }

    .tituloTraslados{
        height: 160px;
        width: 100%;
        text-align: center;
        font-size: 20px;
        color: #912bff;
        padding-top: 15px;
    }

    .contenedorInfoTraslados{
        height: auto;
        width: 100%;
        padding: 50px 0 50px 0;
        color: #9538ff;
        background-color: #f1e6ff;
        font-size: 16px;
    }
}

.form{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #912bff;
    padding-top: 10vh;
}

.form-group{
    height: 450px;
    width: 350px;
    margin-top: 40px;
    padding: 50px;
    background-color: #d2b5f8;
    border-radius: 5px;
}

.form-group .contraseña{
    padding-top: 15px;
}

.logoInicioSesion{
    height: 100px;
    width: 150px;
    background-image: url(./img/logo-viajaja.png);
    background-size: cover;
    background-position: center;
    margin-left: 40px;
    margin-bottom: 20px;
    
}

.exampleInputPassword1{
    padding-top: 55px;
}

.btn-primary{
    width: 100%;
    margin-top: 20px;
    background-color: #5f1aae;
}

.btn-primary:hover {
    background-color: #9538ff;
}

.btn-primary a{
    text-decoration: none;
    color: white;
}

.form-group label{
    font-size: 24px;
}

.botonSubir{
    position: fixed;
    right: 20px;
    bottom: 50px;
    background-color: #9538ff;
    padding: 10px;
    color: #fff;
    font-size: 16px;
    border-radius: 100%;
    border: 2px solid #fff;
}

.contenedorInfoTraslados{
    height: auto;
    width: 100%;
    padding: 50px 0 50px 0;
    padding-left: 13vh;
    color: #9538ff;
    background-color: #f1e6ff;
    font-size: 16px;
}

.contenedorInfoTraslados h2{
    font-size: 48px;
    color: #630ad8;
}

.infoTraslados{
    font-size: 24px;
    font-weight: normal;
}