*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #acb4bc;
    color: #00324a;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 600;
    overflow-x: hidden;
}

html{
    scroll-behavior: smooth;
}

header{
    background-color:#acb4bc; 
    width: 100%;
    height: 160px;
    font-size: 20px;
    font-family: system-ui;
    font-weight: 600;
    text-transform: capitalize;
    padding: 0px;
    text-align: center;
}

.mision-vision{
margin-left: 50px;
}


.logo{
    height: 150px;
    width: auto;
    float: left;
    padding-top: 10px;
    padding-left:  10px;
}

.barra{
    /* float: right; */
    word-spacing: 30px;
    display: inline-block;
}

.barra a{
    text-decoration: none;
}

.barra li{
    list-style: none;
    display: inline-block;
}

.barra a:hover{
    color: #1b6e8f;
}

.opciones{
    margin: 70px;
    /* border:#053d4b solid 1px;
    border-radius: 25px; */
}

.opciones a{
    color: #00324a;
    font-size: 25px;
}

.opciones li {
    height: 100px;
}

.barra a{
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 0% 3px;
    transition: background-size 0.6s;
}

.barra a:hover{
    background-size: 100% 3px;
}

.barra .active a {
    text-decoration: none;
    background-image: linear-gradient(currentColor, currentColor);
    background-position: 0% 100%;
    background-repeat: no-repeat;
    background-size: 100% 3px;
}

.registro{
    float: right;
    margin: 10px;
    padding-top: 28px;
    padding-right: 20px;
    font-size: 15px;
}

.registro li{
    list-style: none;
    display: inline-block;
}

.registro a{
    text-decoration: none;
    color: #00324a;
}

.registro a:hover{
    color: #00324a;
}

.fondo1{
    height: 400px;
    width: 100%;
    background-image: url(./img/portada.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#footer{
    height: 150px;
    width: 100%;
    background-color: #00324a;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.copyR a i{
    margin-left: 60px;
    background-color: white;
}

.fa-brands{
    color: white;
}

.fa-brands:hover {
    color: #1b6e8f;
}

.redes{
    margin-left: 5px;
}

.botonVolver{
    margin-top: 15px;
    margin-right: 50px;
}

.botonVolver a{
    color: #ffffff;
    padding: 15px;
    text-decoration: none;
    border: white 1px solid;
    border-radius: 10px;
    background-color: #1b6e8f;
    transition: 0.6s;
}

.botonVolver a:hover{
    background-color: #adccda;
    transition: all 0.6s;
}

.fondo-destino{
    height: 400px;
    width: 100%;
    background-image: url(img/destino.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
.fondo-alojamientos{
        height: 400px;
        width: 100%;
        background-image: url(img/alojamientos.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
}

.fondo-excursiones{
    height: 400px;
    width: 100%;
    background-image: url(img/excursiones.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
    
.fondo-traslados{
    height: 400px;
    width: 100%;
    background-image: url(img/traslados.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    }   

.conenedorCuadrados{
    height: auto;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
}
.cuadrado{
    height: 320px;
    width: 300px;
    border: #bd90f9 solid 1px;
    text-align: center;
    padding-top: 10px;
    transition: all 0.7s;
}

.cuadrado:hover{
    transform: scale(1.08);
    transition: all 0.5s;
}
.cuadradroTitulo{
    color: #00324a;
}

.cuadradoContenedorFoto{
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-top: 20px;
    background-size: cover;
    border: #c4c2c4 solid 1px;
    box-sizing: content-box;
}

.cuadradoContenedorFoto img{
    height: 200px;
    width: 200px;
    object-fit: cover;
}

.textoCuadro{
    color: #adccda;
    font-size: 30px;
    text-align: center;
    padding: 50px;
}

.botonImg{
    margin: 15px;
}

.botonImg a{
    height: 50px;
    width: auto;
    background-color: #00324a;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    text-decoration: none;
    padding: 8px;
}

.botonImg a:hover{
    background-color: #1b6e8f;
    transition: all 0.5s;
}


.itemImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.item{
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    box-shadow: 0 0 3px 1px #999999;
    transition: all 1s;
}

.item:hover{
    transform: scale(1.02);
    transition: all 0.9;
}

.contenedor{
    height: 300px;
    width: 80%;
    border: #aa6cf0 solid 1px;
    margin-bottom: 20px;
}

.opcionesAlojamientos{
    height: auto;
    width: 100%;
    margin: 20px;
}

.n-left{
    height: 250px;
    background-image: url(img/alojamientos.jpg);
    background-size: cover;
    margin-bottom: 10px;
}

.tituloNoticias h2{
    background-color: #acb4bc;
    text-align: center;
    font-size: 50px;
    color: #00324a;
    margin-top: 5px;
    margin-bottom: 5px;
}

.tituloNoticias p{
    text-align: center;
    font-size: 12px;
    color: #912bff;
    margin-bottom: 10px;
}

.contenedorNoticias{
    height: 450px;
    width: 100%;
    background-color: #1b6e8f;
    color: #00324a;
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.noticia{
    width: 20%;
    height: 380px;
    border: #00324a solid 0.5px;
    margin: 40px;
    padding-top: 20px;
    box-shadow: 1px 3px 3px #858485;
    background-color: #adccda;
    transition: all 1s;
    border-radius: 10px;
}

.textoNoticia p{
    margin-right: 15px;
}

.noticia:hover{
    transform: scale(1.08);
}

.noticia p{
    text-align: left;
    margin-left: 35px;
    margin-bottom: 25px;
}

.noticia a{
    height: 50px;
    width: 25px;
    background-color: #00324a;
    border-radius: 5px;
    color: white;
    text-decoration: none;
    padding: 8px;
    margin-top: 10px;
}

.noticia a:hover {
    animation: 0.5s flash 1;
}

@keyframes flash {
    50% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.contenedorNoticias img{
    height: 100px;
    width: 200px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: #d7d7d7 2px solid;
    border-radius: 10px;
}

.tituloConocenos{
    height: 200px;
    width: 100%;
    background-color: #f0e5fb;
    color: #912bff;
}

.tituloConocenos h2{
    text-align: left;
    padding-top: 20px;
    margin-left: 10%;
    font-size: 54px;
}

.tituloConocenos p{
    text-align: left;
    padding-top: 20px;
    margin-left: 10%;
    font-size: 16px;
}

.titulos{
    text-align: center;
    font-size: 50px;
    color: #1b6e8f;
    padding: 20px;
    margin-left: 20%;
    margin-right: 20%;
}

.texto-nosotros{
    margin-left: 20%;
    margin-right: 20%;
}

.tituloTraslados{
    height: 100px;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #912bff;
    padding-top: 15px;
}

.jujuysaltaInfo{
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.card-deck{
    padding: 20px 10px 20px 20px;
}

.card-deck .card{
    height: auto; 
    width: 100%; 
}

.card{
    animation: 8s veloz 1;
}

.cardDestinos{
    height: auto;
    width: 95%;
    margin: 0 20px 0 20px;
    padding: 20px;
    border: #e5ceff 1px solid;
    border-radius: 5px;
    background-color: #ffe7ff;
    color: #9532ff;
}

.cardDestinos h5{
    padding-top: 10px;
    font-size: 32px;
}

@keyframes veloz {
    0% {
        opacity: 0;
        transform: translateX(-200%);
    }

    50% {
        opacity: 1;
        transform: translateX(0%);
    }

    80% {
        transform: translateX(0%);
    }

}


@media only screen and (min-width:320px) and (max-width: 767px){

    .tituloExcursiones{
        text-align: center;
        font-size: 50px;
        color: #912bff;
        padding: 20px;
    }

    header{
        background-color:#acb4bc;
        width: 100%;
        height: 350px;
    }

    .barra{
        display: inline-block;
        width: 100%;
        justify-content: start;
    }

    .barra li{
        display: flex;
        flex-wrap: wrap;
    }

    .registro{
        display: flex;
        justify-content: start;
        float: left !important;
        margin-left: 5%;
    }

    .tituloNoticias h2{
        font-size: 38px;
        text-align: center;
        margin-top: 10px;
    }

    .tituloNoticias p{
        margin-bottom: 20px;
    }

    .contenedorNoticias{
        height: auto;
        width: 100%;
        padding: 30px;
        background-color: #adccda;
        color: #912bff;
        font-size: 18px;
        display: flex;
        flex-direction: column;
    }
    
    .noticia{
        width: 85%;
        height: 75vh;
        border: #d3b3f7 solid 0.5px;
        margin: 20px;
        box-shadow: 1px 3px 3px #858485;
        background-color: #f0e5fb;
        transition: all 1s;
        border-radius: 10px;
    }

    .noticia h2{
        font-size: 36px;
    }

    .noticia img{
        height: 150px;
        width: 250px;
    }
    
    .textoNoticia{
        height: auto;
        width: 100%;
        text-align: center;
    }

    .tituloConocenos{
        height: auto;
        width: 100%;
        padding-top: 15px;
    }

    .tituloConocenos h2{
        font-size: 32px;
    }

    .tituloConocenos p{
        padding-bottom: 40px;
    }

    .tituloTraslados{
        height: 160px;
        width: 100%;
        text-align: center;
        font-size: 16px;
        color: #912bff;
        padding-top: 15px;
    }

    .contenedorInfoTraslados{
        height: auto;
        width: 100%;
        padding: 50px;
        margin-right: 20px;
        color: #9538ff;
        background-color: #f1e6ff;
        font-size: 16px;
    }
    
    .infoTraslados{
        padding-right: 20px ;
    }

    .accordion-item{
        margin-left: 20px;
        margin-right: 25px;
    }

    #footer{
    height: 150px;
    width: 100%;
    background-color: #00324a;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px;
}

.botonVolver{
    margin-top: 15px;
    margin-right: 50px;
}

.botonVolver a{
    color: #ffffff;
    padding: 5px;
    text-decoration: none;
    border: white 1px solid;
    border-radius: 10px;
    background-color: #1b6e8f;
    transition: 0.6s;
    font-size: 12px;
}

.botonVolver a:hover{
    background-color: #1b6e8f;
    transition: all 0.6s;
}

.form{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #912bff;
    padding-top: 10vh;
}

.form-group{
    height: 450px;
    width: 350px;
    margin-top: 40px;
    padding: 50px;
    background-color: #d2b5f8;
    border-radius: 5px;
}

.form-group .contraseña{
    padding-top: 15px;
}

.form-group .volver{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    text-decoration: solid;
}

.form-group label{
    font-size: 24px;
}

.logoInicioSesion{
    height: 100px;
    width: 150px;
    background-image: url(./img/logo-viajaja.png);
    background-size: cover;
    background-position: center;
    margin-left: 50px;
    margin-bottom: 20px;
}

.exampleInputPassword1{
    padding-top: 55px;
}

.btn-primary{
    width: 100%;
    margin-top: 20px;
    background-color: #00324a;
}

.btn-primary:hover {
    background-color: #1b6e8f;
}

.btn-primary a{
    text-decoration: none;
    color: white;
}

.botonSubir{
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background-color: #1b6e8f;
    padding-top: 7px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 100%;
    border: 2px solid #fff;
}
.botonSubir a {
    color:white;
}
.botonSubir a:hover {
    color:#adccda;
}
.accordion-body img{
    padding: 5px;
    border: #912bff 2px solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.formulario{
    height: auto;
    width: 100%;
    background-color: #00324a;
    color: #00324a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
}

.contenedorForm{
    height: 120vh;
    width: 275px;
    background-color: #d2b5f8;
    border-radius: 5px;
    text-align: center;
}

.contenedorForm h2{
    padding-bottom: 15px;
}

.logoRegistrarse{
    height: 100px;
    width: 150px;
    background-image: url(./img/logo-consultora.png);
    background-size: cover;
    background-position: center;
    margin: 15px 0 25px 60px;
}

.contenedorForm input{
    margin-bottom: 25px;
    height: 30px;
    width: 250px;
    border: #00324a 1px solid;
    border-radius: 5px;
    color: #630ad8;
    font-weight: 700;
}

.titulosDestinos{
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #9532ff;
    border: #e4cefd 1px solid;
    border-radius: 5px;
}

}

@media only screen and (min-width: 768px){

.form{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #00324a;
    padding-top: 10vh;
}

.form-group{
    height: 450px;
    width: 350px;
    margin-top: 40px;
    padding: 50px;
    background-color: #1b6e8f;
    border-radius: 5px;
}

.form-group .contraseña{
    padding-top: 15px;
}

.form-group .volver{
    font-size: 12px;
    text-align: center;
    padding-top: 10px;
    text-decoration: solid;
}

.form-group label{
    font-size: 24px;
}

.logoInicioSesion{
    height: 100px;
    width: 150px;
    background-image: url(./img/logo-viajaja.png);
    background-size: cover;
    background-position: center;
    margin-left: 50px;
    margin-bottom: 20px;
}

.exampleInputPassword1{
    padding-top: 55px;
}

.btn-primary{
    width: 100%;
    margin-top: 20px;
    background-color: #00324a;
}

.btn-primary:hover {
    background-color: #1b6e8f;
}

.btn-primary a{
    text-decoration: none;
    color: white;
}

.formulario{
    height: auto;
    width: 100%;
    background-color: #00324a;
    color: #00324a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
}

.contenedorForm{
    height: auto;
    width: 400px;
    margin-top: 40px;
    margin-left: 38%;
    padding: 50px;
    background-color: #adccda;
    border-radius: 5px;
    text-align: center;
}

.contenedorForm h2{
    padding-bottom: 15px;
}

.logoRegistrarse{
    height: 201px;
    width: 150px;
    background-image: url(./img/logo-consultora.png);
    background-size: cover;
    background-position: center;
    margin-left: 75px;
    margin-bottom: 25px;
}

.contenedorForm input{
    margin-bottom: 25px;
    height: 30px;
    width: 250px;
    border: #00324a 1px solid;
    border-radius: 5px;
    color: #1b6e8f;
    font-weight: 700;
}

.botonSubir{
    position: fixed;
    right: 20px;
    bottom: 50px;
    width: 40px;
    height: 40px;
    background-color: #1b6e8f;
    padding-top: 7px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    border-radius: 100%;
    border: 2px solid #fff;
}
.botonSubir a {
    color:white;
}
.botonSubir a:hover {
    color:#adccda;
}

.contenedorInfoTraslados{
    height: auto;
    width: 100%;
    padding: 50px 0 50px 0;
    padding-left: 13vh;
    color: #1b6e8f;
    background-color: #f1e6ff;
    font-size: 16px;
}

.contenedorInfoTraslados h2{
    font-size: 48px;
    color: #630ad8;
}

.infoTraslados{
    font-size: 24px;
    font-weight: normal;
}

.tituloExcursiones{
    text-align: center;
    font-size: 50px;
    color: #912bff;
    padding: 20px;
}

.accordion{
    height: auto;
    width: 90%;
    margin: 5px 50px 50px 50px;
}

.accordion-header button{
    font-size: 18px;
    color: #1b6e8f;
    transition: all 0.8s;
}

.accordion-header button:hover{
    font-size: 22px;
    color: #1b6e8f;
    transition: all 1s;
}

.accordion-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
}

.accordion-body img{
    padding: 5px;
    border: #1b6e8f 2px solid;
    border-radius: 10px;
    margin-bottom: 15px;
}

.accordion-body h3{
    height: auto;
    width: 100%;
    font-size: 26px;
    padding-left: 15px;
    padding-bottom: 10px;
}

.accordion-body p{
    font-size: 16px;
    padding-left: 15px;
    /* padding-top: 20px; */
    font-style: none;
}

.titulosDestinos{
    height: 80px;
    width: 100%;
    margin-bottom: 10px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
    background-color: #00324a;
    border: #e4cefd 1px solid;
    border-radius: 5px;
}

.titulosDestinos h2{
    font-family: sans-serif;
    font-weight: 100;
    font-size: 35px;
}

.carousel-inner{
    border-radius: 5px;
}

.card-body h5{
    font-size: 28px;
    margin: 5px 0 10px 5px;
}

.card-body p{
    font-size: 16px;
    color: #4c3f59;
    text-align: justify;
    margin-left: 5px;
    margin-right: 20px;
}

.card-deck{
    margin-left: -20px;
}
    
}